.nav-bar {
    max-width: 100vw;
    width: 100vw;

    padding: 10px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;

    background-color: var(--color-blue);

    z-index: 1000;

   
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 10vw;
    min-width: 10rem;
    object-fit: cover;
}

.social-media {
    display: flex;
    gap: 20px;
    color: var(--color-white);
}

.social-media a:hover {
    transform: scale(1.3);
}

.cover-container {
    background-image: linear-gradient(90deg, rgba(29,29,27,1) 0%, rgba(29,29,27,0.335171568627451) 30%, rgba(29,29,27,0.1110819327731093) 45%, rgba(29,29,27,0) 60%, rgba(29,29,27,0) 100%),
    url('../img/Logos/fundo-cover.jpg');
    background-position: center;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    z-index: -10;
    padding-top: 100px;
 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

}

.cover-text {
    display: flex;
    flex-flow: column wrap;

    gap: 20px;

    width: 70%;
    padding: 0 0 0 5%;
    color: var(--color-white);
    backdrop-filter: blur(1px);


}

.cover-text h1 {
    font-size: clamp(3rem, 4vw, 4rem);
    color: var(--color-yellow);
    font-weight: normal;


}

.cover-text p {
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    font-weight: 400;
    width: auto;
}


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    font-size: clamp(1rem, 1.5vw, 5rem);

}

.creators {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100vw;
    gap: 20px;
    padding: 15px 15px;




}

#icon-footer1, #icon-footer2, #icon-footer3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    gap: 1rem 30px;
   
    font-weight: 600;
    font-size: 2rem;
}

.creators a:hover {
    transform: scale(1.2);
    cursor: pointer;   
}

