.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vw;   
    position: relative;

   
}

.gallery h2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;

    font-size: clamp(2rem, 3vw, 5rem);
    color: var(--color-blue);

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(255, 0, 0);
    animation: all linear 300ms ease;
}


.close:hover {
    cursor: pointer;
    transform: scale(1.2);    
    color: #E6332A;;
    
}

.gallery-details-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.8) ;
}

.gallery-details {
    display: none;
    flex-direction: column;

    margin-top: 5vw;
    width: 50vw;
    min-height: 60vh;
    max-height: 75vh;
    
    position: absolute;
    z-index: 20000;
    border-radius: 20px;

    overflow: hidden;

    background-color: white;
    border: 2px solid black;

}

.gallery-details div {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}


.details-img {
    width: 100%;
    height: 50vh;

    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.details-info-container {
    flex: 1 5 20rem;
    display: flex;
    flex-direction: column;

    padding: 1vw 2vw;
    height: 100%;
    width: 70%;

    font-size: clamp(.9rem, .9vw, 3rem);
    color: gray;
}

.details-info-container h3{
    color: var(--color-blue);
    font-size: clamp(2rem, 2vw, 3rem);
}

.details-maps {
    display: block;
    flex: 1 1 10rem;
    height: 100%;
    aspect-ratio: 4/3;
    
}




.gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    
    width: 100%;
    padding: 20px;
   
}

.gallery-field {
    height: 100%;
    aspect-ratio: 4/3;
}


.gallery-img {
    flex: 1 3 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20vw;
    min-width: 250px;


    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px var(--color-blue);
    overflow: hidden;
}

.gallery-img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}


.gallery-img img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;

}



