.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2vw 2vw;   
    position: relative;

   
}

.gallery h2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;

    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 100;
    color: var(--color-blue);

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(255, 0, 0);
    animation: all linear 300ms ease;
}


.close:hover {
    cursor: pointer;
    transform: scale(1.2);    
    color: #E6332A;;
    
}


.gallery-details-container {
    position: absolute;
   
    display: none;
    justify-content: center;
    align-items: center;
    
    padding-top: 0;
    z-index: 10;
    overflow: visible;
    width: 100vw;
    height: 500vh;
    background-color: rgba(2, 2, 2, 0.8) ;

  

}


.gallery-details {
    display: none;
    flex-direction: column;
    
    z-index: 10;
    margin-top: 5vw;
    
    max-width: 60vw;
    min-height: 55vh;
    max-height: 85vh;
    
   /* aspect-ratio: 2/2;*/
    position: absolute;
   
    border-radius: 20px;

    overflow: hidden;

    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .25);
  
 

}


.details-img {
    width: 100%;
    max-height: 50vh;

    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.details-info-container-container {
    display: flex;
    flex-flow: row wrap;
}


.details-info-container {
    flex: 1 1 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 1vw 2vw;
    height: 100%;
    
    font-size: clamp(.9rem, .9vw, 3rem);
    color: gray;
}

.details-info-container h3{
    color: var(--color-blue);
    font-size: clamp(2rem, 2vw, 3rem);
}

.details-maps {

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 200px;
    min-width: 300px;

 /*
 
    height: 100%;
 
  */
    
}




.gallery-container {
    gap: 5px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 30vw));
    
    justify-content: center;
    align-items: center;
 
    grid-gap: 5px; 
    width: 100%;
    padding: 20px 5px;

   
}

.gallery-field {
    height: 100%;
}


.gallery-img {
    flex: 1 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;


    object-fit: cover;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: all ease-in-out .1s;
}

.gallery-img:hover {
    cursor: pointer;
}


.gallery-img img {
    width: 100%;
    object-fit: cover;
   
    aspect-ratio: 4/3;


    

}



