#info {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    padding: 3vh 2vw;
}

.info-text {
    width: 50%;
    max-width: 90%;
    display: flex;
    flex-flow: column wrap;
    font-size: clamp(1rem, 1vw, 4rem);
    font-weight: 400;


}

.info-text h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: normal;
}

.info-text-img {
    min-width: 250px;
    max-width: 25%;
}

.info-text-img img{
    width: 100%;
    object-fit: cover;
    
}