.info {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    padding: inherit 3vw 0 3vw;
}

.info-text {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    font-size: clamp(1rem, 1.3vw, 4rem);
    font-weight: 400;
}

.info-text h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: normal;
}

.info-text-img {
    width: 25%;
}

.info-text-img img{
    width: 100%;
    object-fit: cover;
    
}