:root {
    --color-blue: #274380;
    --color-black: #1D1D1B;
    --color-yellow: #FFD700;
    --color-white: #EDEDED;
    --color-red: #E6332A;
    --color-gray: #9E9E9E;
    --font-title: "Bebas Neue", sans-serif;
    --font-bold: 400;
    --fonte-p: "Sora", sans-serif;

}

.area-site {
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 5vw;
    overflow-x: hidden;    

}

.bg-white {
    background-color: var(--color-white);
    z-index: 0;
}

.bg-blue {
    background-color: var(--color-blue);
}

.hidden {
    visibility: hidden;

}

.display-none {
    display: none;
}

/* FONTE DOS TITULOS */
.bebas-neue-regular { 
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: var(--fonte-p);
}

.color-white {
    color: var(--color-white);
}

.color-yellow {
    color: var(--color-yellow);
}

