:root {
    --color-blue: #274380;
    --color-black: #1D1D1B;
    --color-yellow: #FFD700;
    --color-white: #EDEDED;
    --font-title: "Bebas Neue", sans-serif;
    --font-bold: 400;
    --fonte-p: "Sora", sans-serif;

}

.area-site {
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    padding-top: 100px;
}

.bg-white {
    background-color: var(--color-white);
}

.bg-dark {
    background-attachment: var(--color-blue);
}

.hidden {
    display: none;
}

/* FONTE DOS TITULOS */
.bebas-neue-regular { 
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: var(--fonte-p);
}

